# Vite / vuerend dev and build outputs
.cache
dist
.data

# Legacy generated outputs
.output
.nuxt
.nuxtrc
.nitro

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
