name: Linter

on:
  pull_request:
    branches:
      - main
    paths:
      - 'app/**'
      - 'server/api/**'
      - 'types/**'
      - 'pnpm-workspace.yaml'
      - 'pnpm-lock.yaml'
      - 'eslint.config.mjs'
      - 'nuxt.config.ts'
      - 'tsconfig.json'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: pnpm install
        run: pnpm install
      - name: Lint
        run: pnpm run lint
        env:
          CI: true
