name: Vitest

on:
  pull_request:
    branches:
      - main
    paths:
      - 'app/**'
      - 'server/api/**'
      - 'types/**'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - 'eslint.config.mjs'
      - 'nuxt.config.ts'
      - 'tsconfig.json'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [latest]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: pnpm install
        run: pnpm install
      - name: Run tests
        run: pnpm run test
        env:
          CI: true